.recipe-finder-container {
    background-color: hsl(63, 74%, 94%);
  }
  
  .recipe-finder-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  
  .recipe-finder-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #recipe {
    padding: 15px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  form {
    width: 100%; /* Adjust width as needed */
    max-width: 500px; /* Optional: set a maximum width */
    margin-bottom: 20px;
  }
  
  #results {
    margin-top: 20px;
  }
  
  .recipe-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  #results h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #results h3 {
    color: #34495e;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .ingredient,
  .instruction {
    margin-left: 20px;
    font-size: 16px;
  }
  textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.chat-container {
    border: 1px solid #ddd;
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}


.chat-history {
    margin-bottom: 20px;
}


.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}


.user-message {
    margin: 5px;
    background-color: #eee;
    align-self: flex-start;
}


.bot-message {
    margin: 5px;
    background-color: #ddd;
    align-self: flex-end;
}